<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Analyzer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/944/944053.png" type="image/x-icon">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark px-3" data-bs-theme="dark">
  <a class="navbar-brand" href="/">Анализатор страниц</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/urls">Сайты</a>
  </ul>
</nav>

{% if errors %}
<div class="alert alert-danger" role="alert">
  {{ errors }}
</div>
{% endif %}


  <a class="info">{{ id }}</a>


  <nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-lg">
      <a class="navbar-brand mx-auto" href="https://github.com/SanichMakakich">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1920px-Octicons-mark-github.svg.png"
          alt="Bootstrap" width="30" height="30">
        <!-- About -->
      </a>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>