<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/944/944053.png" type="image/x-icon">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark px-3" data-bs-theme="dark">
    <a class="navbar-brand" href="/">Анализатор страниц</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/urls">Сайты</a>
    </ul>
</nav>

<!-- {% with messages = get_flashed_messages() %}
{% if messages == ['Страница уже существует'] %}
<div class="alert alert-info" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% if messages == ['Страница успешно добавлена'] %}
<div class="alert alert-success" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% if messages == ['Произошла ошибка при проверке'] %}
<div class="alert alert-danger" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}-->
<body class="min-vh-100 d-flex flex-column">

{% with message = get_flashed_messages(with_categories=True) %}
{% if message %}
{% for category,mes in message %}
<div class="{{category}}" role="alert">{{ mes }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<main class="flex-grow-1">

    {{url_id}}
    <div class="container-lg mt-3">
        {% for element in data %}
        <h1>Сайт: {{element[1]}}</h1>


        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ element[0]|default('') }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ element[1]|default('') }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ element[2]|default('') }}</td>
                </tr>
                </tbody>
            </table>

            <h2 class="mt-5 mb-3">Проверки</h2>
            <form method="post" action="/urls/{{element[0]}}/checks">
                <input type="submit" class="btn btn-primary" value="Запустить проверку">
            </form>
            {% endfor%}


            <div>
                <table class="table table-bordered table-hover mt-2" data-test="checks"> <!--data-test="checks" -->

                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Дата создания</th>
                    </tr>
                    {% for element in checks %}
                    <tr>
                        <td>{{ element[0]|default('') }}</td>
                        <td>{{ element[2]|default('') }}</td>
                        <td>{{ element[3]|default('') }}</td>
                        <td>{{ element[4]|default('') }}</td>
                        <td>{{ element[5]|default('') }}</td>
                        <td>{{ element[6]|default('') }}</td>
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</main>
</body>
<footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="container-lg">
        <div class="text-center">
            <a href="https://github.com/SanichMakakich" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1920px-Octicons-mark-github.svg.png"
                     alt="Bootstrap" width="30" height="30">

            </a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</html>