<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/944/944053.png" type="image/x-icon">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark px-3" data-bs-theme="dark">
    <a class="navbar-brand" href="/">Анализатор страниц</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/urls">Сайты</a>
    </ul>
</nav>

{% if errors %}
<div class="alert alert-danger" role="alert">
    {{ errors }}
</div>
{% endif %}

<body class="min-vh-100 d-flex flex-column">
<main class="flex-grow-1">

    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
            {%for element in data%}
            <tr>
                <td>{{ element[0] }}</td>
                <td>
                    <a href="/urls/{{element[0]}}">
                        {{element[1]}}
                    </a>
                </td>
                <td>{{ element[2] if element[2] is not none else '' }}</td>
                <td>{{ element[3] if element[3] is not none else '' }}</td>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>
</body>


<footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="container-lg">
        <div class="text-center">
            <a href="https://github.com/SanichMakakich">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1920px-Octicons-mark-github.svg.png"
                     alt="Bootstrap" width="30" height="30">
            </a>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</html>